title {
	font-family: "Museo";
}

body {
	font-family: "Source Sans Pro";
	background-color: #008ACE;

}

.jumbotron {
	background-color: #222222;
}

.container {
	color: #ffffff;
}

.container.requests{
	background-color: #008ACE;
}

.validation-error {
	color: red;
}

.table-hover tbody {
	background-color: #76cdd8;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #263852;
}

#epamtitle {
	color: #39C2D7;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	text-decoration: none;
	color: #ffffff;
}