title {
	font-family: "Museo";
}

body {
	font-family: "Source Sans Pro";
	background-color: #CEDB56;

}

.jumbotron {
	background-color: #222222;
}

.container {
	color: #ffffff;
}

label {
	color: #000000
}

input {
	color: black;
}

.validation-error {
	color: red;
}
