title {
	font-family: "Museo";
}

body {
	font-family: "Source Sans Pro";
	background-color: #CEDB56;

}

.jumbotron {
	background-color: #222222;
}

.container {
	color: #ffffff;
}

label {
	color: #000000
}

input {
	color: black;
}

.validation-error {
	color: red;
}

.table-hover tbody {
	background-color: #76cdd8;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #008ACE;
}