title {
	font-family: "Museo";
}

body {
	font-family: "Source Sans Pro";
	background-color: #008ACE;

}

.jumbotron {
	background-color: #222222;
}

.container {
	color: #ffffff;
}

input[type="submit"] {
	background-color: #76cdd8;
}

#epamtitle {
	color: #39C2D7;
}