<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{../css/confirmation.css}" />
<title>Well done!</title>
</head>
<body>

	<div class="jumbotron">
		<div class="container text-center">
			<h1>Thank you!</h1>
			<p>Your request has been registered and our Office Maintenance Team will soon review and process it.</p>
			<p>Thank you for your patience.</p>
			
		</div>
	</div>
	
	<div class="container text-center">
		<a th:href="@{/}" class="btn btn-info" role="button">Back to the home page</a> 
	</div>


</body>
</html>