<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{../css/index.css}" />
<title>Welcome to Office Matters!</title>
</head>
<body>

	<div class="jumbotron">
		<div class="container text-center">
			<h1>Welcome to the Office Matters home page!</h1>
			<p>Please select below what you want to do</p>
		</div>
	</div>
	<div class="container text-right">
	<a th:href="@{/request}" class="btn btn-info" role="button">Submit a new request!</a>
	</div>
	<div class="container">
		<div class="row">
		<div class="col-lg-4">
		<table class="table table-hover">
    		<thead>
      			<tr>
			      <th class="text-center" colspan="4"><h3>New Requests</h3></th>
      			</tr>
    		</thead>
    		<tbody>
			<tr th:each="request: ${request}">
    			<td th:text="${request.fullName}" />
    			<td th:text="${request.emailAddress}" />
    			<td th:text="${request.subject}" />
    			<td th:text="${request.description}" />
			</tr>
    		</tbody>
  </table>
	</div>
		</div>
</div>
</body>
</html>