<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{../css/index.css}" />
<title>Welcome to Office Matters!</title>
</head>
<body>

	<div class="jumbotron">
		<div class="container text-center">
			<h1><span id="epamtitle">&lt</span>Welcome to the Office Matters home page!<span id="epamtitle">></span></h1>
			<p>Please select below what you want to do</p>
		</div>
	</div>
	<div class="container text-right">
		<a th:href="@{/request}" class="btn btn-info" role="button">Submit
			a new request!</a>
	</div>
	<div class="container requests">
		<div class="row">
			<div class="col-lg-4">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center" colspan="2"><h3>New Requests</h3></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="requestNew: ${requestNew}">	
							<td class="text-center">
								<a th:href="@{'/requestdetails/'+ ${requestNew.getId()}}"
									 role="button">
									<span th:text="${requestNew.subject}" ></span><br>
									<span th:text="'by ' + ${requestNew.fullName}" ></span><br>
									<span th:text="'P' + ${requestNew.getPriority()}" ></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


			<div class="col-lg-4">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center" colspan="2"><h3>In-Progress</h3></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="requestInProgress: ${requestInProgress} ">
							<td class="text-center">
								<a th:href="@{'/requestdetails/'+ ${requestInProgress.getId()}}"
									 role="button">
									<span th:text="${requestInProgress.subject}" ></span><br>
									<span th:text="'by ' + ${requestInProgress.fullName}" ></span><br>
									<span th:text="'P' + ${requestInProgress.getPriority()}" ></span>
								</a>
							</td>							
						</tr>

					</tbody>
				</table>
			</div>

			<div class="col-lg-4">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center" colspan="2"><h3>Resolved</h3></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="requestResolved: ${requestResolved}">
							<td class="text-center">
								<a th:href="@{'/requestdetails/'+ ${requestResolved.getId()}}"
									 role="button">
									<span th:text="${requestResolved.subject}" ></span><br>
									<span th:text="'by ' + ${requestResolved.fullName}" ></span><br>
								</a>
							</td>	
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>