<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{../css/index.css}" />
<title>Welcome to Office Matters!</title>
</head>
<body>

	<div class="jumbotron">
		<div class="container text-center">
			<h1>Welcome to the Office Matters home page!</h1>
			<p>Please select below what you want to do</p>
		</div>
	</div>
	<div class="container text-right">
		<a th:href="@{/request}" class="btn btn-info" role="button">Submit
			a new request!</a>
	</div>
	<div class="container requests">
		<div class="row">
			<div class="col-lg-4">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center" colspan="2"><h3>New Requests</h3></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="requestNew: ${requestNew}">
							<td><p th:text="${requestNew.subject}" />
								<p th:text="${requestNew.fullName}" />
								<p th:text="${requestNew.getPriority()}" /></td>
							<td><a th:href="@{'/comment/'+ ${requestNew.getId()}}"
								class="btn tbn-info" role="button">Check details</a></td>
						</tr>
					</tbody>
				</table>
			</div>


			<div class="col-lg-4">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center" colspan="2"><h3>In-Progress</h3></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="requestInProgress: ${requestInProgress} ">
							<td><p th:text="${requestInProgress.subject}" />
								<p th:text="${requestInProgress.fullName}" />
								<p th:text="${requestInProgress.getPriority()}" /></td>
							<td><a
								th:href="@{'/comment/'+ ${requestInProgress.getId()}}"
								class="btn tbn-info" role="button">Check details</a></td>
						</tr>

					</tbody>
				</table>
			</div>

			<div class="col-lg-4">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center" colspan="2"><h3>Resolved</h3></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="requestResolved: ${requestResolved}">
							<td><p th:text="${requestResolved.subject}" />
								<p th:text="${requestResolved.fullName}" /></td>
							<td><a th:href="@{'/comment/'+ ${requestResolved.getId()}}"
								class="btn tbn-info" role="button">Check details</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>