<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{../css/index.css}" />
<title>Maintenance Team</title>
</head>
<body>

	<div class="jumbotron">
		<div class="container text-center">
			<h1><span id="epamtitle">&lt</span>Welcome to the Maintenance Team home page!<span id="epamtitle">></span></h1>
			<p>You can see the already submitted requests and triage them.</p>
		</div>
	</div>
	<div class="container text-right" >
		<p th:if="${#lists.isEmpty(notTriagedRequests)}" class="btn btn-info" role="button">Triage new requests!<span th:text="' (' + ${#lists.size(notTriagedRequests)} + ')'"></span></p>
		<p th:if="${not #lists.isEmpty(notTriagedRequests)}"><a th:href="@{/maintenance/triage}" class="btn btn-info" role="button" >Triage new requests!<span th:text="' (' + ${#lists.size(notTriagedRequests)} + ')'"></span></a>
	</div>
	<div class="container requests">
		<div class="row">
			<div class="col-lg-4">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center" colspan="2"><h3>New Requests</h3></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="requestNew: ${requestNew}">
							<td class="text-center">
								<a th:href="@{'/maintenance/requests/'+ ${requestNew.getId()}}"
								 role="button">
									<span th:text="${requestNew.subject}" ></span><br>
									<span th:text="'by ' + ${requestNew.fullName}" ></span><br>
									<span th:text="'P' + ${requestNew.getPriority()}" ></span>								
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


			<div class="col-lg-4">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center" colspan="2"><h3>In-Progress</h3></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="requestInProgress: ${requestInProgress} ">
							<td class="text-center">
								<a th:href="@{'/maintenance/requests/'+ ${requestInProgress.getId()}}"
								 role="button">
									<span th:text="${requestInProgress.subject}" ></span><br>
									<span th:text="'by ' + ${requestInProgress.fullName}" ></span><br>
									<span th:text="'P' + ${requestInProgress.getPriority()}" ></span>								
								</a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>

			<div class="col-lg-4">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center" colspan="2"><h3>Resolved</h3></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="requestResolved: ${requestResolved}">
							<td class="text-center">
								<a th:href="@{'/maintenance/requests/'+ ${requestResolved.getId()}}"
								 role="button">
									<span th:text="${requestResolved.subject}" ></span><br>
									<span th:text="'by ' + ${requestResolved.fullName}" ></span><br>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>