<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{../css/index.css}" />
<title>Submit a new request</title>
</head>
<body>

	<div class="jumbotron">
		<div class="container text-center">
			<h1>Here you can submit a new request</h1>
			<p>Type in your details</p>
		</div>
	</div>
	<div class="container">
		<h2>New Request</h2>
		<form th:action="@{/request}" th:object="${requestForm}" method="post" action="/request">
			<div class="container">
			<div class="row">
			<div class="col-lg-8">
			<label>Reporter name*: </label> 
			<input type="text" th:field="*{fullName}" />
			<p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="validation-error">Name error</p>
			<br> 
			
			<label>E-mail*: </label>
			<input type="email"	th:field="*{emailAddress}" />
			<p th:if="${#fields.hasErrors('emailAddress')}"
				th:errors="*{emailAddress}" class="validation-error">Email error</p>
				
			<br> <br> 
			
			<label>Subject*: </label> 
			<input type="text" th:field="*{subject}" />
			<p th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" class="validation-error">Subject error</p>
				
			<br> 
			
			<label>Description*: </label> 
			<input type="text" th:field="*{description}" />
			<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-error">Description error</p>
			<br>
			
			 *mandatory fields 
			 
			<br> <br>
			</div>
			<div class="col-lg-4">
				<h1>Your name, email address and your request will be visible for everyone</h1>
			</div>
			</div>
			</div>
			<button class="btn btn-info" type="submit">Submit request</button>

		</form>
	</div>


	<div class="container text-left">
		<a th:href="@{/}" class="btn btn-info" role="button">Back to the home page</a> 
	</div>

</body>
</html>