<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{../css/request.css}" />
<title>Submit a new request</title>
</head>
<body>

	<div class="jumbotron">
		<div class="container text-center">
			<h1><span id="epamtitle">&lt</span>Here you can submit a new request<span id="epamtitle">></span></h1>
			
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-5 text-right">
				<h2>New Request</h2>
			</div>
			<div class="col-lg-1 text-right">
				<img src="/pics/unlock_icon.svg" width="70%" />
			</div>
			<div class="col-lg-2 text-left">
				<p>Your name, email address and your request will be visible for
					everyone</p>
			</div>
		</div>
	</div>
	<div class="container text-center">
		<p>Please note, we need all these fields to be filled properly so
			that we could start working on your request.</p>
	</div>

	

		<form th:action="@{/request}" th:object="${requestForm}" method="post"
			action="/request">
			<div class="container">
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
					 <p>Reporter name*:<input type="text" th:field="*{fullName}"
						placeholder="Enter your name" /></p>
					<p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"
						class="validation-error">Name error</p>
					<p> E-mail*: <input type="email" th:field="*{emailAddress}"
						placeholder="Enter your email address" /></p>
					<p th:if="${#fields.hasErrors('emailAddress')}"
						th:errors="*{emailAddress}" class="validation-error">Email
						error</p>

					<p>Subject*: <input type="text"
						th:field="*{subject}" placeholder="Enter a title for this request" /></p>
					<p th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"
						class="validation-error">Subject error</p>

					<p>Description*: <input type="text"
						th:field="*{description}" id="descriptionBox"
						placeholder="Add a more detailed description here..." /></p>
					<p th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}" class="validation-error">Description
						error</p>
					 <p id="mandatory">*mandatory fields</p> 
				</div>
				<div class="col-lg-3"></div>
			</div>
			</div>
			<div class="container text-center">
				<a th:href="@{/}" class="btn btn-info" role="button">Cancel</a>
				<button class="btn btn-info" type="submit">Submit request</button>
			</div>
			
		</form>





</body>
</html>