<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{../css/index.css}" />
<title>Welcome to Office Matters!</title>
</head>
<body>

	<div class="jumbotron">
		<div class="container text-center">
			<h1><span id="epamtitle">&lt</span>Request details<span id="epamtitle">></span></h1>
			<p>You can see the details of this request</p>
		</div>
	</div>

	<div class="container text-center">

		<p th:text="${request.fullName}" />
		<p th:text="${request.emailAddress}" />
		<p th:text="${request.subject}" />
		<p th:text="${request.description}" />
	</div>

	<div class="container text-center">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center" colspan="2"><h3>Comments</h3></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="comment: ${comment}">
					<td><p th:text="${comment.author}" />
						<p th:text="${comment.commentMsg}" /></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container text-center">
		<a th:href="@{/}" class="btn btn-info" role="button">Back to the
			home page</a>
	</div>
</body>
</html>