<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{../css/triage.css}" />
<title>Requests waiting for triage</title>
</head>
<body>

	<div class="jumbotron">
		<div class="container text-center">
			<h1>Triage requests page</h1>
			<p>Triage these</p>
		</div>
	</div>
	<div class="container text-center">
		<table class="table">
			<thead>
				<tr>
					<th class="text-center" colspan="2"><h3>Requests waiting
							for triage</h3></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="request: ${request}">
					<td><p th:text="${request.fullName}" />
						<p th:text="${request.subject}" />
						<p th:text="${request.emailAddress}" />
						<p th:text="${request.description}" />
					
						<form th:action="@{'/triageconfirm/'+ ${request.getId()}}"
							th:object="${request}" method="post">
							<input type="radio" name="priority" value=1>Critical<br>
							<input type="radio" name="priority" value="2"> Major<br>
							<input type="radio" name="priority" value="3"> Low<br>
							<input type="submit" value="Set priority">
						</form>
					</td>
				</tr>
				<tr><td><a th:href="@{/maintenance}" class="btn btn-info" role="button">Back to maintenance page</a></td></tr>
			</tbody>
		</table>
	</div>
</body>
</html>